@media only screen and (max-width: 480px) {
    .toastui-editor-dropdown-toolbar {
        /* height: 100% !important; */
        height: auto !important;
        display: flex;
        flex-wrap: wrap;
    }

    .toastui-editor-popup {
        margin-left: 5px;
    }
}
